@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


i {
    margin-right: 10px;
}


/* multiple shared Css */

.color_primary {
    color: #FD6E0A;
}

.primary-btn {
    border: none;
    background: #FD6E0A;
    color: #fff;
    font-weight: 700;
    padding: 18px 35px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;

}

section {
    width: 70vw;
    margin: 130px auto;
}

/* Navbar Css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 5px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 400;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-position: bottom right, top left;
    background-repeat: no-repeat;
    padding-left: 10rem;
}


.banner_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_container .banner_left {
    width: 585px;
}

.banner_container .banner_left h3 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner_container .banner_left h1 {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin: 20px 0;
}

.banner_container .banner_left p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.banner_container .banner_left .primary-btn.contact {
    color: #FD6E0A;
    background: #fff;
    border: 1px solid #FD6E0A;
    margin-left: 20px;
}



/* about section css */
.about_section {
    background: #FFF8F3;
    padding: 130px;
}

.sec_title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.sec_desc {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;

}

.about_box_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.about_box_container .box .title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.about_box_container .box .info {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}


/* What i do section */
.what_i_do {
    width: 80vw !important;
}

.what_i_do>p {
    width: 70%;
    margin: 30px auto;
}

.what_i_do .box_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto !important;
}

.what_i_do .box_container .box {
    width: 267px;
    max-height: 377px;
    height: max-content;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 10px;
    padding: 30px;
}


.what_i_do .box_container .box h4 {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    text-transform: capitalize;
}

.what_i_do .box_container .box p {
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}



/* resume section */

.resume_section .sec_title {
    margin: 50px 0;
}

.resume_section .sum_info_wrapper {
    display: flex;
}

.resume_section .sum_info_wrapper>div {
    flex: .5;
    margin: 5px;
}

.resume_section .sum_info_wrapper div h4 {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}


.resume_section .sum_info_wrapper div .info_box h5 {
    font-size: 25px;
    padding: 0.5rem 0;
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}

.resume_section .sum_info_wrapper div .info_box h6 {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume_section .sum_info_wrapper div .info_box p {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 1rem 0;
}

.resume_section .sum_info_wrapper div .info_box hr {
    border: 1px solid #D1D1D1;
    margin: 1rem 0;
}

.resume_section .primary-btn {
    display: block;
    margin: 2rem auto;
    text-align: center;
}

/* footer section */
footer {
    background: #FFF8F3;

}

.footer_container {
    display: flex;
    width: 70vw;
    margin: auto;
    gap: 3rem;
    padding: 5rem 0;
}

.footer_container>div {
    flex: .5;
}

.footer_container h2 {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.footer_container p {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 1rem 0;
}


.footer_container .icons img {

    margin-right: 1.5rem;
}

.footer_container input {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 0;
    outline: none;
}

.footer_container textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    resize: vertical;
    outline: none;
    margin: 1rem 0;

}